@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$Body-font:        'Bai Jamjuree', sans-serif;  /* 400, 600*/
$White:           #fff;
$Strong-Cyan:      hsl(171, 66%, 44%) ;
$Strong-CyanBxSh:  hsla(171, 66%, 44%, 0.116) ;
$Light-Blue:       hsl(233, 100%, 69%);
$Light-BlueBxSh:   hsla(233, 100%, 69%, 0.103);
$Grayish-Blue:     hsl(201, 11%, 66%) ;
$BgGrayish-Blue:     hsla(197, 28%, 95%, 0.541) ;
$Dark-Grayish-Blue: hsl(210, 10%, 33%) ; 